.testimonial-card {
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.testimonial-card > * {
  padding-left: 24px;
}

.testimonial-card .row-1 {
  padding-top: 24px;
  grid-row: 1/2;
}

.testimonial-card .row-2 {
  height: 45px;
  display: flex;
  grid-row: 2/3;
  align-items: center;
  justify-content: flex-start;
}

.testimonial-card .high-light-text {
  padding-left: 12px;
}

.testimonial-card .row-3 {
  grid-row: 3/-1;
}
