nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

nav > .stack {
  align-items: center;
}

nav ul {
  width: 100%;
  justify-self: left;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  justify-content: space-around;
  list-style-type: none;
  margin-right: -4rem;
}

nav a {
  text-decoration: none;
  color: #495e57;
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
}
