section.placeholder {
  height: 100vh;
  background: #495e57;
}

section.placeholder > .stack {
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}

section.placeholder > .stack h1 {
  color: #f4ce14;
}
