* {
  margin: 0;
  padding: 0;
}

/* Display Title - Medium 64pt */
h1 {
  font-family: "Markazi Text";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
}

/* Sub title - keep close to display Regular 40pt */
h2 {
  font-family: "Markazi Text";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

/* Lead text! Use this for descriptive items to catch attention!e.g. home page or CTA (Call to action)
Medium 18pt */
h3 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

/* SECTION TITLE! UPPERCASE 20pt EXTRA BOLD */
h4 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
}

/* This weeks specials! Section categories 16pt Extra Bold */
h5 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

/* Card Title 18pt Bold */
h6 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

/* Highlight text e.g. price medium 16pt  */
.high-light-text {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* Paragraph text regular 16pt 1.5 line height Max 65 characters per line.*/
p {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

a {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.call-to-action {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

#root {
  width: 100vw;
  max-width: 100%;
}

#root > * {
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: 3.4vw repeat(12, 6.25vw) 3.4vw;
  column-gap: 1.38vw;
  align-items: start;
  justify-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

nav * {
  margin-top: auto;
  margin-bottom: auto;
}

nav img {
  grid-column: 4/6;
}

.nav-link {
  justify-self: left;
  grid-column: 6/13;
  margin-left: 3rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-link li {
  margin-left: 0;
  margin-right: 2.5rem;
}
.nav-link li:last-child {
  margin-left: 0;
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #495e57;
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
}

main {
  height: 120vh;
}

section.hero {
  background: #495e57;
  display: grid;
  grid-template-columns: 3.4vw repeat(12, 6.25vw) 3.4vw;
  column-gap: 1.38vw;
  justify-items: left;
}

.hero-card {
  grid-column: 4/12;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #495e57;
}

.hero-card * {
  color: #edefee;
  background: #495e57;
}

.hero-card .col-1 {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 20px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.hero-card .col-1 .row-1 {
  grid-row: 1/1;
  margin-bottom: -1rem;
}
.hero-card .col-1 .row-2 {
  margin-top: 0.125rem;
  grid-row: 2/2;
}
.hero-card .col-1 .row-3 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  grid-row: 3/3;
}
.hero-card .col-1 .row-4 {
  grid-row: 4/4;
}

.hero-card .col-2 {
  justify-self: right;
}

.hero-card h1 {
  color: #f4ce14;
}
.hero-card img {
  border-radius: 16px;
  margin-bottom: -90px;
  margin-top: 30px;
}

section.highlight {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 3.4vw repeat(12, 6.25vw) 3.4vw;
  grid-row: auto auto;
  column-gap: 1.38vw;
  justify-items: left;
}

.highlight h2 {
  grid-column: 4/9;
  grid-row: 1/2;
}

.highlight button {
  grid-column: 10/12;
  justify-self: right;
  align-self: center;
  grid-row: 1/2;
}

.highlight .cards {
  width: 100%;
  grid-column: 4/12;
  grid-row: 2/2;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.highlight-card {
  display: grid;
  background: #edefee;
  grid-template-rows: repeat(4, auto);
  width: 265px;
  height: 440px;
}

.highlight-card .row-1 {
  margin: 0;
  padding: 0;
  grid-row: 1/2;
}

.highlight-card .row-2 {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  grid-row: 2/3;
}

.highlight-card .row-3 {
  padding-left: 8px;
  padding-right: 8px;
  grid-row: 3/4;
}

.highlight-card .row-4 {
  padding-left: 8px;
  padding-right: 8px;
  grid-row: 4/-1;
}

.highlight-card p {
  max-width: 240px;
}
.highlight-card .high-light-text {
  color: #ee9972;
}

section.testimonials {
  background: #495e57;
  display: grid;
  grid-template-columns: 3.4vw repeat(12, 6.25vw) 3.4vw;
  column-gap: 1.38vw;
  justify-items: left;
}
section.about {
  display: grid;
  grid-template-columns: 3.4vw repeat(12, 6.25vw) 3.4vw;
  column-gap: 1.38vw;
  justify-items: left;
}

footer {
  background: #495e57;
  height: 120%;
  display: grid;
  grid-template-columns: 3.4vw repeat(12, 6.25vw) 3.4vw;
  column-gap: 1.38vw;
  grid-template-rows: 1fr auto;
  justify-items: center;
}

footer > * {
  margin-top: 1rem;
}

footer * {
  background: #495e57;
  color: #edefee;
  text-decoration: none;
}

footer > :first-child {
  margin-bottom: auto;
  grid-column: 4/6;
  grid-row: 1/1;
}

footer a:hover {
  color: #333;
}
footer h3 {
  color: #333;
  margin-bottom: 0.125rem;
}

.doormat-nav {
  grid-column: 6/8;
  grid-row: 1/1;
}

.footer-contact {
  grid-column: 8/10;
  grid-row: 1/1;
  color: #edefee;
}

.social-nav {
  grid-column: 10/13;
  grid-row: 1/1;
}

.footer-copyright {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  grid-column: 1/-1;
  grid-row: 2/-1;
  text-align: center;
}
