* {
  margin: 0;
  padding: 0;
}

:root {
  --twelve-grid-offset: 1;
  --global-column-span: 12;
  --global-column-start: calc(var(--twelve-grid-offset) + 1);
  --global-column-end: calc(
    var(--global-column-start) + var(--global-column-span)
  );
}

body {
  max-width: 100vw;
}

/* Display Title - Medium 64pt */
h1 {
  font-family: "Markazi Text";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
}

/* Sub title - keep close to display Regular 40pt */
h2 {
  font-family: "Markazi Text";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

/* Lead text! Use this for descriptive items to catch attention!e.g. home page or CTA (Call to action)
Medium 18pt */
h3 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

/* SECTION TITLE! UPPERCASE 20pt EXTRA BOLD */
h4 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
}

/* This weeks specials! Section categories 16pt Extra Bold */
h5 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

/* Card Title 18pt Bold */
h6 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

/* Highlight text e.g. price medium 16pt  */
.high-light-text {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* Paragraph text regular 16pt 1.5 line height Max 65 characters per line.*/
p {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

a {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.call-to-action {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

main {
  margin-top: 3rem;
}

nav,
main > section,
footer {
  display: grid;
  grid-template-columns: 3.4% repeat(12, 6.25%) 3.4%;
  column-gap: 1.4%;
}

nav > .stack,
main > section > .stack,
footer > .stack {
  width: 100%;
  grid-column: var(--global-column-start) / var(--global-column-end);
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.customers-say,
section.chicago {
  margin-top: 4rem;
  margin-bottom: 4rem;
  justify-items: left;
  align-items: center;
}

@media all and (min-width: 800px) {
  :root {
    --twelve-grid-offset: 2;
    --global-column-span: 10;
  }
}

@media all and (min-width: 1024px) {
  :root {
    --twelve-grid-offset: 2;
    --global-column-span: 9;
  }
}

@media all and (min-width: 1280px) {
  :root {
    --twelve-grid-offset: 2;
    --global-column-span: 8;
  }
}

@media all and (min-width: 1366px) {
  :root {
    --twelve-grid-offset: 3;
    --global-column-span: 9;
  }
}

@media all and (min-width: 1440px) {
  :root {
    --twelve-grid-offset: 3;
    --global-column-span: 8;
  }
}
