* {
  background: #edefee;
  margin: 0;
  padding: 0;
}

/* Display Title - Medium 64pt */
h1 {
  font-family: "Markazi Text";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
}

/* Sub title - keep close to display Regular 40pt */
h2 {
  font-family: "Markazi Text";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

/* Lead text! Use this for descriptive items to catch attention!e.g. home page or CTA (Call to action)
Medium 18pt */
h3 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

/* SECTION TITLE! UPPERCASE 20pt EXTRA BOLD */
h4 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
}

/* This weeks specials! Section categories 16pt Extra Bold */
h5 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

/* Card Title 18pt Bold */
h6 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

/* Highlight text e.g. price medium 16pt  */
.high-light-text {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* Paragraph text regular 16pt 1.5 line height Max 65 characters per line.*/
p {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

a {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.call-to-action {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

#root {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr auto auto;
}

nav {
  max-width: 100%;
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-row: 1/1;
}

nav * {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-link {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

.nav-link li {
  display: inline-block;
  margin-left: 0;
  margin-right: 0.5rem;
}
.nav-link li:last-child {
  margin-left: 0;
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #495e57;
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
}

main {
  grid-row: 2/2;
  height: 120vh;
  display: grid;
  grid-template-rows: 0.5fr 2fr 2fr 2fr;
}

.hero-card {
  grid-row: 1/1;
  display: grid;
  grid-template-columns: auto auto;
  background: #495e57;
}

.hero-card * {
  color: #edefee;
  background: #495e57;
}

.hero-card .col-1 {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 20px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  grid-column: 1/2;
}

.hero-card .col-1 .row-1 {
  grid-row: 1/1;
  margin-bottom: -1rem;
}
.hero-card .col-1 .row-2 {
  margin-top: 0.125rem;
  grid-row: 2/2;
}
.hero-card .col-1 .row-3 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  grid-row: 3/3;
}
.hero-card .col-1 .row-4 {
  grid-row: 4/4;
}

.hero-card .col-2 {
  margin-left: auto;
  margin-right: auto;
  grid-column: 2/2;
}
.hero-card h1 {
  color: #f4ce14;
}
.hero-card img {
  border-radius: 16px;
  margin-bottom: -24rem;
}

footer {
  background: #495e57;
  width: 100%;
  height: 110%;
  grid-row: 3/-1;
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: 1fr auto;
  column-gap: 1.75rem;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

footer > * {
  width: auto;
}
footer * {
  background: #495e57;
  color: #edefee;
  text-decoration: none;
}

footer > :first-child {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
footer > :nth-child(4) {
  margin-right: auto;
}

footer a:hover {
  color: #333;
}
footer h3 {
  color: #333;
  margin-bottom: 0.125rem;
}
.footer-contact {
  color: #edefee;
}
.footer-copyright {
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.5rem;
  margin-bottom: 0.75rem;
  grid-column: 1/-1;
  grid-row: 2/-1;
  text-align: center;
}
